.select-box{
    position: relative;
    width: 300px;
}

.select-option{
    position: relative;
}

.select-option input{
    width: 100%;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    padding: 8px 10px;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
}

.select-option:after{
    content: "";
    border-top: 8px solid #000;
    border-left: 6px solid transparent; 
    border-right: 6px solid transparent; 
    position: absolute;
    right: 15px;
    top:50%;
    margin-top: -5px;
}

.content{
    background-color:#fff;
    position: absolute;
    color: #000;
    border-radius: 5px;
    margin-top: 15px;
    width: 120%;
    z-index: 999;
    padding: 10px;
    display: none;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
}

.search input{
    width: 100%;
    font-size: 12px;
    padding: 5px;
    outline: 0;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}

.options{
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    cursor: pointer;
}

.options li{
    padding: 3px 15px;
    border-radius: 0px;
    font-size: 15px;
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.options li:hover{
    background-color: #1d7575;;
}

.select-box.active .content{
    display: block;
}

.select-box.active .select-option:after{
    transform: rotate(-180deg);
}

.hidden {
    display: none;
}


