 @media only screen and (max-width: 480px) {
  html,body {
  width: 100%;
  height:  100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
 }
}
@media only screen and (max-width: 481px) {
  html,body {
  width: 100%;
  height:  100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
 }
}

 /* navigation logo */

.logo img{
  max-width: 100%;
  height: 5vh;
  margin-left: 30PX;
}

@media (max-width: 768px) {
  .logo img {
    max-width: 100%;
    height: 3vh;
    margin-left: 10PX;
  }
}

.header{
  position: fixed;
  z-index: 100;
  width: 100%;
  height: auto;
}


 /* IBody CSS */

body, ul {
  margin: 0;
  padding: 0;
}

.body{
  max-width: 100%;
}

 /* navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #ffffff, #469793);
  color: #205157;
  width: 100%;
  height: auto;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-list li {
  margin: 0 5px;
}

.nav-list li a {
  text-decoration: none;
  color: inherit;
}

 /* navigation Mobile */

.hamburger {
  display: none;
  cursor: pointer;
  padding: 20px;
  justify-content: end;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #194c52;
  margin: 4px 0;
}

@media (max-width: 1200px) {
  .nav-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background: linear-gradient(to right, #ffffff, #469793);
      opacity: 0.95;
      transition: all 0.3s ease;
      border-radius: 15px;
      z-index: 100;
  }
  .nav-list li a{
      text-decoration: none;
      color: inherit;
      display: block;
      width: 100%;
      text-align: left;
      font-size: 16px;
      font-weight: 600;
      transition: all 0.3s ease;
      padding: auto;
  }

  .nav-list li a:hover{
      color:rgb(0, 0, 0);
  }

  .nav-list.show {
      display: flex; /* Show the nav list when .show class is added */
  }

  .hamburger {
      display: block; /* Show the hamburger icon */
  }
}

 /* navigation font */

.text{
  color:#096368;
  font-size: 20px;
  text-decoration: none;
}

.text:hover{
  color:#2d3b3b;
  text-decoration: none;
}

.container-icon{
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: row; /* Default row layout */
  flex-wrap: wrap;
  justify-content: center;
  
}

@media (max-width: 900px) {
  .container-icon
   {
    color:blue
  }
}

.containericon1 {
  padding: 0px;
  background: linear-gradient(to top, #ffffff 10%, #55adad 100%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0);
  width: 30%;
  height: 20vh;
  border-radius: 40px;
  text-align: center; 
  margin: 5px;
  max-width: 100%;
  flex-direction: row; /* or column */
  
}
.containericon2 {
  padding: 0px;
  background: linear-gradient(to top, #ffffff 10%, #55adad 100%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0);
  width: 30%;
  height: 20vh;
  border-radius: 40px;
  text-align: center;
  margin: 5px;
  max-width: 100%;
  flex-direction: row; /* or column */
}
.containericon3 {
  padding: 0px;
  background: linear-gradient(to top, #ffffff 10%, #55adad 100%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0);
  width: 30%;
  height: 20vh;
  border-radius: 40px;
  text-align: center; 
  margin: 5px;
  max-width: 100%;
  flex-direction: row; /* or column */
}

@media (max-width: 768px) {
  .text-to-hide {
    display: none; /* Hide the text */
  }
}

.container-icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.container-icon  a{
    color: black;
  }

  .container-icon  a:hover{
    color: rgb(30, 102, 102);
  }

@media (max-width: 768px) {
  .container-icon  a:hover {
    color: rgb(30, 102, 102);
      
  }
}


.icon p {
  font-size: 14px;
  font-weight: bold;
}

.slideshow-container {
  position:relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .slideshow-container {
    color: rgb(30, 102, 102);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.slideshow {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
}

/* Add this CSS to style circular buttons */
.prev-btn, .next-btn {
  /* Existing button styles */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  width: 30px; /* Set width and height to create a circular shape */
  height: 30px;
  border-radius: 50%; /* Make the button circular */
  background-color: #33333393; /* Set a background color */
  color: #fff; /* Set text color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}

.brief-history{
  text-align: center;
  margin:20px;
}

.historybg{
  background: white;
  width: 100%;
}

.btnhistory{
  background-color:#2f9095;
  border-radius: 30px;
}


/*-------our services--------- */
.our-services{
  background-image: url('ourservices.jpg');
  background-size: cover;
  width: 100%;
  height: 110vh;
  text-align: center;
  margin: 0px;
}

.first-div-services{
  color:#fff;
  top: 100px;
  font-size: 10px;
}

.second-div-services{
  max-width: auto;
  height: 200px;
  display: flex;
  align-items: center;
  margin: 10px;

}

.third-div-services{
  max-width: auto;
  height: 200px;
  display: flex;
  align-items: center;
  margin: 10px;

}
.forth-div-services{
  max-width: auto;
  height: 200px;
  display: flex;
  align-items: center;
  margin: 10px;
}

/*---icon---- */
.size{
  position: relative;
  width: 60px;
  height: auto;
  left: 2px;
  top:-20px;

}

.icon-services_one{
  color: #fff;
  width: 300px;
  height: auto;
  top: 30px;
  top: 100px;
}
.icon-services_two{
  color: #fff;
  width: 300px;
  height: auto;
  top: 30px;
}
.icon-services_three{
  color: #fff;
  width: 300px;
  height: auto;
  top: 30px;
}
.icon-services_four{
  color: #fff;
  width: 300px;
  height: auto;
  top: 30px;
}
.icon-services_five{
  color: #fff;
  width: 300px;
  height: auto;
  top: 30px;
}
/*-----news---*/
.latest-news{
  background: linear-gradient(to right, #ffffff, #469793);
  width: 100%;
  height: 10vh;
  color:#134e51;
  text-align: center;
  font-size: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.our-services{
  width: 100%;
  height: 100vh;
  display: flex;
}

.news{
  display: flex;
  flex-direction: row; /* Default row layout */
  flex-wrap: wrap;
  justify-content: center;
}

.newsicon img{
  width: 100%;
  height: 300px;
}

.newsicon1{
  text-align: center;
  margin: 20px;
}
.newsicon2{
  text-align: center;
  margin: 20px;
}
.newsicon3{
  text-align: center;
  margin: 20px;
}



/*----# Sections General-----*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f7f6;
  margin: 0px;
}

.section-title {
  padding-bottom: 20px;
}

.section-title h2 {
  font-size: 10px;
  font-weight: 300;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #317a7a;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #37423b;
}

/*-------# Counts---------*/
.counts {
  padding: 10px 0;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  color: #1c8181;
  font-weight: 700;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #37423b;
}

.specialist{
  background: linear-gradient(to right, #ffffff, #469793);
  width: 100%;
  height: 10vh;
  z-index: 100;
  color:#134e51;
  text-align: center;
  font-size: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.specialistcon{
  background:#fff;
  width: 100%;
  height: 100vh;
}


.contactcon{
  background: linear-gradient(to right, #ffffff, #469793);
  width: 100%;
  height: 10vh;
  color:#134e51;
  text-align: center;
  font-size: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.cntct{
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height:auto;
  display: flex;
}

@media (max-width: 768px) {
  .cntct {
    flex-direction: column; /* Change to column layout when minimized */ 
  }
}

.contact{
  max-width: 70%;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
}

.forms{
  text-align: center;
  margin: 10PX;
  max-width: 100%;
  height: 5%;
}

.forms img {
  width: 100%;
  height: 400px;
  border-radius: 30px;
}

.iconfont{
  font-size: 24px;
  color: #096368;
}

.address{

  width: 450px;
  height: auto;
}
.email{

  width: 450px;
  height: auto;
}
.phone{

  width: 450px;
  height: auto;
}

.contact i {
  font-size: 20px;
  color: #1c8181;
  float: left;
  width: 44px;
  height: 44px;
  background: #ecf9f000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  background-color: rgb(190, 241, 243);
}

.lastbeforefooter{
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.lastbeforefooter img{
  width:10%;
  height: 5vh;
}

/* Example media query for smaller screens */
@media (max-width: 768px) {
  .lastbeforefooter img{
    width:30%;
    height: 5vh;
  }
}

footer p {
  max-height: auto;
  width: 100%;
  background: linear-gradient(to right,#469793, #ffffff 50%, #469793);
  color:#134e51;
  text-align: center;
}
